.interface {
    background-color: #141414 !important;
    color: #f1f1f1 !important;
}
.settings .menuLi .menuLink {
    background-color: transparent !important;
}
.settings .menuLi .menuLink:before {
    color: #f1f1f1 !important;
}
.settings .menuLi .menuLink .menuLinkSpan {
    color: #f1f1f1 !important;
}
#settingsOptions .settingsOption .section .linkInfo {
    background-color: #141414 !important;
}
#settingsOptions .settingsOption .section .formSettings {
    background-color: #141414 !important;
}