@mixin category() {
	#headerContainer {
		position: relative;
		height: 50px;
		width: 100%;
		font-size: 2em;

		#categoryHeader {
			position: relative;

			#categoryResult {
				position: relative;
				font-size: 1.3em;
				font-weight: normal;

				@include css4 {
					color: var(--gray);
				};
				.searchSpan {
					font-size: 1.2em;
					font-weight: bolder;

					@include css4 {
						color: var(--fontColor);
					};
				}
			}
		}
	}

	@extend %contentStyle;
}