@mixin home() {
	//If the user isn't logged

    .containerImage {
        position: relative;
        width: 100%;
        height: 450px;
        margin-top: 10px;

        //Cover

        #coverImage {
            background: rgba(0,0,0,.7);
            position: absolute;
            top: -10px;
            height: 100%;
            width: 100%;
            overflow: hidden;
            z-index: 98;
        }

        //Image

        #descImage {
            position: absolute;
            top: -10px;
            height: 100%;
            width: 100%;
            overflow: hidden;
            z-index: 97;

            img {
                position: relative;
                width: 100%;
            }
        }
    }
    .containerTabs{
        position: relative;
        height: 100%;

        #tabHeader {
            position: relative;
            width: 90%;
            height: 150px;
            margin: 0 auto;
            z-index: 99;
            display: flex;

            .tab {
                border-bottom: 5px solid transparent;
            }
            .tabSelected {
                @include css4 {
                    border-bottom: 5px solid var(--lightGray);
                };
            }
            .tab,
            .tabSelected {
                position: relative;
                height: 100%;
                width: 100%;
                text-align: center;
                cursor: pointer;
                display: flex;
                flex-direction: column;

                &:nth-of-type(1) {
                    .tabIcon {
                        &:after {
                            content: '\f008';
                        }
                    }
                }
                &:nth-of-type(2) {
                    .tabIcon {
                        &:after {
                            content: '\f26c';
                        }
                    }
                }
                &:nth-of-type(3) {
                    .tabIcon {
                        &:after {
                            content: '\f234';
                        }
                    }
                }
                .tabIcon {
                    position: relative;
                    width: 100%;
                    height: 80%;

                    &:after {
                        position: relative;
                        left: 0;
                        font: 10em FontAwesome;

                        @include css4 {
							color: var(--lightGray);
						};
                    }
                }
                .tabSpan {
                    position: relative;
                    font: 2em Calibri, sans-serif;
                    text-align: center;
                    width: 100%;
                    height: 20%;

                    @include css4 {
                        color: var(--lightGray);
                    };
                }
            }
        }
        #tabContents {
            position: relative;
            height: 100%;
            width: 100%;
            
            .contentHide,
            .contentShow {
                position: relative;
                width: 100%;
                min-height: 300px;
                z-index: 98;
            }
            .contentHide {
                display: none;
            }
            .contentShow {
                display: flex;
                justify-content: center;

                .contentSpan {
                    font: 7em Calibri, sans-serif;
                    text-align: center;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    
    //If the user is logged
    
    @extend %contentStyle;
}