@mixin search() {
	.searchOther {
		position: relative;
		min-height: 40px;
		display: flex;

		.otherSpan {
			position: relative;
			font: 2em Calibri, sans-serif;
			line-height: 35px;

			@include css4 {
				color: var(--joker02);
			};
		}
		.otherUl {
			position: relative;
			display: flex;
			line-height: 40px;

			.otherItem {
				padding: 0 10px;

				@include css4 {
					border-right: 1px solid var(--gray);
				};
				&:last-child {
					border-right: none;
				}
				.itemSpan {
					font: 2em Calibri, sans-serif;
					
					@include css4 {
						color: var(--fontColor);
					};
					&:hover {
						@include css4 {
							color: var(--joker02);
						};
					}
				}
			}
		}
	}
	#headerContainer {
		position: relative;
		height: 50px;
		width: 100%;
		font-size: 2em;

		#searchHeader {
			position: relative;

			#searchResult {
				position: relative;
				font-size: 1.3em;
				font-weight: normal;

				@include css4 {
					color: var(--gray);
				};
				.searchSpan {
					font-size: 1.2em;
					font-weight: bolder;

					@include css4 {
						color: var(--fontColor);
					};
				}
			}
		}
	}

	@extend %contentStyle;
}