.vscode/
node_modules/
bower_components/
media/movies/*
media/series/*
images/media/movies/*
images/media/series/*
images/media/lives/*
images/user/*
_categoriesId.txt
_fontIcon.txt
/.project
bower.json
gulpfile.js
package.json
READEME.txt