AddType application/x-httpd-php .html

php_value upload_max_filesize 2048M
php_value post_max_size 2048M

php_flag  display_errors                  on
php_flag  display_startup_errors          on

Options All -Indexes

RewriteEngine on
#RewriteCond %{HTTP_REFERER} !^$
#RewriteCond %{HTTP_REFERER} !^http(s)?://()?index.php [NC]
#RewriteRule \.(jpg|png|gif|mp4|webm)$ - [NC,F,L]

#Errors Pages

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^404()$ 404.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^403()$ 403.php [NC,L]

ErrorDocument 403 /404.php
ErrorDocument 404 /404.php

#Home Page

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^home()$ index.php [NC,L]

#Login Page

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^login()$ login.php [NC,L]

#Logoff Page

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^logoff()$ logoff.php [NC,L]

#Profile Page

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^profile()$ profile.php [NC,L]

#Settings Page

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^settings()$ settings.php [NC,L]

#Title Page

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^title()$ title.php [NC,L]

#Watch Page

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^watch()$ watch.php [NC,L]

#Category Page

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^category()$ category.php [NC,L]

#Search Page

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^search()$ search.php [NC,L]

#Info Page

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^info()$ info.php [NC,L]

