AddType application/x-httpd-php .html

Options All -Indexes

RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://()?localhost/joker/ [NC]
RewriteRule \.(jpg|jpeg|png|gif|mp4)$ - [NC,F,L]

#Errors Pages

ErrorDocument 403 http://localhost/joker/403
ErrorDocument 404 http://localhost/joker/404

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^404()$ 404.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^403()$ 403.php [NC,L]

#Home Page

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^home()$ index.php [NC,L]

#Login Page

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^login()$ login.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^entrar()$ login.php [NC,L]

#Logoff Page

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^logoff()$ logoff.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^sair()$ logoff.php [NC,L]

#Profile Page

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^profile()$ profile.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^perfil()$ profile.php [NC,L]

#Settings Page

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^settings()$ settings.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^configuracoes()$ settings.php [NC,L]

#Title Page

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^title()$ title.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^titulo()$ title.php [NC,L]

#Watch Page

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^watch()$ watch.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^assistir()$ watch.php [NC,L]

#Category Page

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^category()$ category.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^categoria()$ category.php [NC,L]

#Search Page

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^search()$ search.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^busca()$ search.php [NC,L]

#Info Page

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^info()$ info.php [NC,L]

