@mixin login() {
	#userErrorNone {
		display: none;
	}
	#userErrorDisplay {
		@include css4 {
			background: var(--errorColor);
		};
	}
	#newAccountCreatedDisplay {
		@include css4 {
			background: var(--blue);
		};
	}
	.userError {
        position: fixed;
		top: 70px;
		height: 40px;
		width: 90%;
		border-radius: 5px;
		margin: 0 0 0 5%;
		display: block;
		z-index: 100;
		
		#errorMsg {
			width: 80%;
			height: 100%;
			margin: 0 auto;
			text-align: center;
			line-height: 43px;
			
			#spanUserError {
				font-size: 2em;

				@include css4 {
					color: var(--lightGray);
				};
			}
		}
		#errorMsgClose {
			position: absolute;
			right: 10px;
			top: 0;
			height: 40px;
			width: 40px;
			cursor: pointer;

			&:after {
				content: '\f00d';
				font: 5em FontAwesome;
				position: absolute;
				top: -6px;
				left: 0;

				@include css4 {
					color: var(--lightGray);
				};
			}
		}
	}
	.userDiv {
		box-sizing: border-box;
		position: relative;
		padding: 10px;
		height: 100%;

		@include css4 {
			width: var(--loginDivWidth);
		};
		
		.userFrom {
			box-sizing: border-box;
			width: 100%;
			
			.userLegend {
				font: 2em Calibri, san-serif;
				margin: 0 0 40px 20px;
			}
			.userFieldset {
				border: none;
				
				.inputText,
				.inputTextError {
					box-sizing: border-box;
					outline: none;
					border-radius: 3px;
					height: 60px;
					width: 100%;
					padding-left: 70px;
					margin: -20px 0;
					font-size: 1.6em;

					@include css4 {
						border: 3px solid var(--lightGray);
						color: var(--gray);
					};
					
					@include transition(border, 300ms, linear);
				}
				.inputText {
					+ .inputLabel {
						@include css4 {
							background: var(--lightGray);
						};
						&:before {
							@include css4 {
								color: var(--gray);
							};
						}
					}
					&:hover,
					&:focus {
						@include css4 {
							border: 3px solid var(--joker02);
							color: var(--gray);
						};
						
						+ .inputLabel {
							@include css4 {
								background: var(--joker02);
							};
							&:before {
								@include css4 {
									color: var(--fontColor);
								};
							}
						}
					}
				}
				.inputTextError {
					@include css4 {
						border: 3px solid var(--errorColor);
					};
					+ .inputLabel {
						@include css4 {
							background: var(--errorColor);
						};
					}
				}
				.inputLabel {
					border-radius: 3px 0 0 3px;
					position: relative;
					top: -40px;
					left: 0;
					display: block;
					height: 60px;
					width: 60px;
					
					@include transition(background, 300ms, linear);
					
					&:before {
						position: relative;
						font-family: FontAwesome;
						
						@include transition(color, 300ms, linear);
					}
				}
				.submitButton {
					border-radius: 3px;
					height: 50px;
					width: 100%;
					
					@include transition(all, 200ms, linear);
					
					&:hover, &:focus {
						@include css4 {
							background: var(--joker02);
							color: var(--fontColor);
						};
					}
					.submitSpan {
						display: block;
						margin-bottom: 20px;
						cursor: pointer;
						font-size: 1.6em;
						height: 100%;
						padding: 10px;

						@include css4 {
							color: var(--gray);
						};
					}
				}
			}
		}
	}
	#loginDiv {
		.userFrom {
			.userFieldset {
				label {
					&:nth-of-type(1) {
						&:before {
							content: '\f1fa';
							font-size: 3em;
							top: 15px;
							left: 18px;
						}
					}
					&:nth-of-type(2) {
						&:before {
							content: '\f13e';
							font-size: 3em;
							top: 17px;
							left: 20px;
						}
					}
				}
				#loginRestore {
					position: fixed;
					top: -100%;
					left: -100%;

					&:checked + #loginRestoreLabel {
						.checkIcon {
							@include css4 {
								background: var(--joker02);
							};
							&:before {
								left: 0;
								opacity: 1;
							}
						}
					}
				}
				#loginRestoreLabel {
					position: relative;
					top: -20px;
					cursor: pointer;
					height: 20px;
					display: flex;
					align-items: center;

					.checkIcon {
						border-radius: 4px;
						position: relative;
						height: 100%;
						width: 20px;
						overflow: hidden;

						@include css4 {
							background: var(--lightGray);
						};

						@include transition(all, 300ms, linear);

						&:before {
							content: '\f00c';
							position: relative;
							left: -30px;
							font: 1.8em FontAwesome;
							opacity: 0;

							@include css4 {
								color: var(--white);
							};

							@include transition(all, 300ms, linear);
						}
					}
					.spanText {
						font: 1.5em Calibri, sans-serif;
						padding-left: 10px;

						@include css4 {
							color: var(--gray);
						};
					}
				}
			}
		}
	}
	#siginDiv {
		border-top: none;
		padding-top: 0;

		@include css4 {
			border-top: var(--loginMiddleBorderTop);
			border-left: var(--loginMiddleBorderLeft);
		};
		
		.userFrom {
			.userFieldset {
				label {
					&:nth-of-type(1) {
						&:before {
							content: '\f007';
							font-size: 3em;
							top: 14px;
							left: 17px;
						}
					}
					&:nth-of-type(2) {
						&:before {
							content: '\f007';
							font-size: 3em;
							top: 14px;
							left: 17px;
						}
					}
					&:nth-of-type(3) {
						&:before {
							content: '\f007';
							font-size: 3em;
							top: 14px;
							left: 17px;
						}
					}
					&:nth-of-type(4) {
						&:before {
							content: '\f1fa';
							font-size: 3em;
							top: 15px;
							left: 18px;
						}
					}
					&:nth-of-type(5) {
						&:before {
							content: '\f13e';
							font-size: 3em;
							top: 17px;
							left: 20px;
						}
					}
					&:nth-of-type(6) {
						&:before {
							content: '\f13e';
							font-size: 3em;
							top: 17px;
							left: 20px;
						}
					}
				}
			}
		}
	}
}