@mixin logoff() {
	.logoffText {
		border-radius: 5px;
		position: relative;
		top: 200px;
		width: 80%;
		margin: 0 auto;
		text-align: center;
		font: 4em Calibri, sans-serif;

		@include css4 {
			background: var(--blue);
			color: var(--lightGray);
		};
	}
}