@mixin login() {
	#userErrorNone {
		display: none;
	}
	#userErrorDisplay {
		background: #fd0b3e;
	}
	#newAccountCreatedDisplay {
		background: $colorBlue;
	}
	.userError {
        position: fixed;
		top: 70px;
		height: 40px;
		width: 90%;
		box-sizing: border-box;
		border-radius: 5px;
		margin: 0 0 0 5%;
		display: block;
		z-index: 100;
		
		#errorMsg {
			width: 80%;
			height: 100%;
			margin: 0 auto;
			text-align: center;
			line-height: 43px;
			
			#spanUserError {
				font-size: 2em;
				color: $colorLightGray;
			}
		}
		#errorMsgClose {
			position: absolute;
			right: 10px;
			top: 0;
			height: 40px;
			width: 40px;
			cursor: pointer;

			&:after {
				content: '\f00d';
				font: 5em FontAwesome;
				color: $colorLightGray;
				position: absolute;
				top: -6px;
				left: 0;
			}
		}
	}
	.userContainer {
		display: flex;

		@include css4 {
			flex-flow: var(--loginAlign);
		};

		.userDiv {
			box-sizing: border-box;
			position: relative;
			top: 0;
			padding: 10px;

			@include css4 {
				width: var(--loginDivWidth);
			};
			
			.userFrom {
				box-sizing: border-box;
				width: 100%;
				
				.userLegend {
					font: 2em Calibri, san-serif;
					margin: 0 0 40px 20px;
				}
				.userFieldset {
					border: none;
					
					.inputText,
					.inputTextError {
						box-sizing: border-box;
						outline: none;
						border-radius: 3px;
						border: 3px solid $colorLightGray;
						height: 60px;
						width: 100%;
						padding-left: 70px;
						color: $colorGray;
						margin: -20px 0;
						font-size: 1.6em;
						
						@include transition(border, 300ms, linear);
					}
					.inputText {
						+ .inputLabel {
							background: $colorLightGray;
							
							&:before {
								color: $colorGray;
							}
						}
						&:hover,
						&:focus {
							border: 3px solid $colorBlue;
							color: $colorGray;
							
							+ .inputLabel {
								background: $colorBlue;
								
								&:before {
									color: #f1f1f1;
								}
							}
						}
					}
					.inputTextError {
						border: 3px solid #fd0b3e;
						
						+ .inputLabel {
							background: #fd0b3e;
							
							&:before {
								color: #f1f1f1;
							}
						}
					}
					.inputLabel {
						border-radius: 3px 0 0 3px;
						position: relative;
						top: -40px;
						left: 0;
						display: block;
						height: 60px;
						width: 60px;
						
						@include transition(background, 300ms, linear);
						
						&:before {
							position: relative;
							font-family: FontAwesome;
							
							@include transition(color, 300ms, linear);
						}
					}
					.submitButton {
						box-sizing: border-box;
						border: none;
						outline: none;
						border-radius: 3px;
						height: 50px;
						width: 100%;
						
						@include transition(all, 200ms, linear);
						
						&:hover, &:focus {
							background: $colorBlue;
							color: #ffffff;
						}
						.submitSpan {
							display: block;
							color: $colorGray;
							margin-bottom: 20px;
							cursor: pointer;
							font-size: 1.6em;
							height: 100%;
							padding: 10px;
						}
					}
				}
			}
		}
		#loginDiv {
			.userFrom {
				.userFieldset {
					label {
						&:nth-of-type(1) {
							&:before {
								content: '\f1fa';
								font-size: 3em;
								top: 15px;
								left: 18px;
							}
						}
						&:nth-of-type(2) {
							&:before {
								content: '\f13e';
								font-size: 3em;
								top: 17px;
								left: 20px;
							}
						}
					}
					#loginRestore {
						position: absolute;
						top: -100%;
						left: -100%;

						&:checked + #loginRestoreLabel {
							span {
								background: $colorBlue;

								&:before {
									left: 0;
									opacity: 1;
								}
							}
						}
					}
					#loginRestoreLabel {
						position: relative;
						top: -20px;
						left: 40px;
						font: 1.5em Calibri, sans-serif;
						color: $colorGray;
						cursor: pointer;

						span {
							background: $colorLightGray;
							border-radius: 4px;
							display: inline-block;
							position: absolute;
							top: 0;
							left: -30px;
							height: 20px;
							width: 20px;
							overflow: hidden;

							@include transition(all, 300ms, linear);

							&:before {
								content: '\f00c';
								position: relative;
								top: 0;
								left: -30px;
								font: 1.3em FontAwesome;
								color: #ffffff;
								opacity: 0;

								@include transition(all, 300ms, linear);
							}
						}
					}
				}
			}
		}
		#siginDiv {
			border-top: none;
			padding-top: 0;

			@include css4 {
				border-top: var(--loginMiddleBorderTop);
				border-left: var(--loginMiddleBorderLeft);
			};
			
			.userFrom {
				.userFieldset {
					label {
						&:nth-of-type(1) {
							&:before {
								content: '\f007';
								font-size: 3em;
								top: 14px;
								left: 17px;
							}
						}
						&:nth-of-type(2) {
							&:before {
								content: '\f007';
								font-size: 3em;
								top: 14px;
								left: 17px;
							}
						}
						&:nth-of-type(3) {
							&:before {
								content: '\f007';
								font-size: 3em;
								top: 14px;
								left: 17px;
							}
						}
						&:nth-of-type(4) {
							&:before {
								content: '\f1fa';
								font-size: 3em;
								top: 15px;
								left: 18px;
							}
						}
						&:nth-of-type(5) {
							&:before {
								content: '\f13e';
								font-size: 3em;
								top: 17px;
								left: 20px;
							}
						}
						&:nth-of-type(6) {
							&:before {
								content: '\f13e';
								font-size: 3em;
								top: 17px;
								left: 20px;
							}
						}
					}
				}
			}
		}
	}
}