@mixin search() {
	.searchOther {
		position: relative;
		min-height: 40px;
		display: flex;

		.otherSpan {
			position: relative;
			font: 2em Calibri, sans-serif;
			color: $colorBlue;
			line-height: 35px;
		}
		.otherUl {
			position: relative;
			display: flex;
			line-height: 40px;

			.otherItem {
				border-right: 1px solid $colorGray;
				padding: 0 10px;

				&:last-child {
					border-right: none;
				}
				.itemSpan {
					font: 2em Calibri, sans-serif;
					color: $colorBlack;

					&:hover {
						color: $colorBlue;
					}
				}
			}
		}
	}
	#headerContainer {
		position: relative;
		height: 50px;
		width: 100%;
		font-size: 2em;

		#searchHeader {
			position: relative;

			#searchResult {
				position: relative;
				font-size: 1.3em;
				color: $colorGray;
				font-weight: normal;
				
				.searchSpan {
					color: $colorBlue;
					font-size: 1.2em;
					font-weight: bolder;
				}
			}
		}
	}

	@extend %contentStyle;
}