@mixin settings() {
	.divLeft {
		position: relative;

		@include css4 {
			width: var(--settingsDivLeftWidth);
		};

		#settingsMenu {
			position: relative;
			width: 100%;
			
			#menuUl {
				list-style: none;
				display: flex;

				@include css4 {
					flex-flow: var(--settingsGroupAlign);
				};
				.menuLi {
					position: relative;
					width: 100%;

					&:nth-of-type(1) {
						a {
							&:before {
								content: '\f085';
							}
						}
					}
					&:nth-of-type(2) {
						a {
							&:before {
								content: '\f1ab';
							}
						}
					}
					&:nth-of-type(3) {
						a {
							&:before {
								content: '\f1f8';
							}
						}
					}
					.menuLink,
					.menuLinkSelected {
						display: flex;
						align-items: center;

						&:before {
							font: 3em FontAwesome;
							position: relative;
							left: 30px;
							width: 30px;
						}
						.menuLinkSpan {
							position: relative;
							left: 60px;
							font-size: 2em;
							line-height: 50px;
							height: 100%;
						}
					}
					.menuLink {
						height: 50px;
						width: 100%;

						@include css4 {
							background-color: var(--fontColor);
						};
						&:before {
							@include css4 {
								color: var(--gray);
							};
						}
						.menuLinkSpan {
							@include css4 {
								color: var(--gray);
							};
						}
					}
					.menuLinkSelected {
						height: 50px;
						width: 100%;

						@include css4 {
							background-color: var(--blue);
						};
						&:before {
							@include css4 {
								color: var(--fontColor);
							};
						}
						&:after{
							content: "";
							position: absolute;
							top: 25px;
							right: -20px;
							margin-top: -2.5em;
							border-top: 2.5em solid transparent;
							border-bottom: 2.5em solid transparent;

							@include css4 {
								border-left: 2em solid var(--blue);
							};
						}
						.menuLinkSpan {
							@include css4 {
								color: var(--gray);
							};
						}
					}
				}
			}
		}
	}
	.divRight {
		position: relative;

		@include css4 {
			width: var(--settingsDivRightWidth);
		};
		#sectionHeader {
			position: relative;
			font-size: 2.5em;
			font-weight: bold;
			width: 100%;
		}
		#settingsOptions {
			position: relative;
			top: 10px;
			width: 100%;

			@include css4 {
				border-top: 1px solid var(--black);
				border-bottom: 1px solid var(--black);
				background: var(--lightGray);
			};
			.linkInfo {
				padding: 10px;
				margin-bottom: 1px;
				display: flex;
				justify-content: space-between;

				@include css4 {
					background: var(--fontColor);
				};
				&:after {
					position: absolute;
					right: 50px;
					content: '\f044';
					font: 1.2em FontAwesome;
					color: transparent;
					margin-top: 3px;
					order: 3;
				}
				&:hover {
					&:after {
						@include css4 {
							color: var(--blue);
						};
					}
					.linkInfoSpan {
						text-decoration: underline;
					}
				}
				.linkInfoName {
					font-size: 1.5em;
					font-weight: bold;
					width: 100%;
					order: 1;

					@include css4 {
						color: var(--gray);
					};
				}
				.linkUserInfo {
					position: relative;
					font-size: 1.5em;
					width: 100%;
					order: 2;

					@include css4 {
						color: #969696;
					};
				}
				.linkInfoSpan {
					font-size: 1.5em;
					width: 100%;
					order: 4;
					text-align: right;

					@include css4 {
						color: var(--blue);
					};
				}
			}
			#linkInfo {
				background: #ffffff;
			}
			#linkInfoEdited {
				@include css4 {
					background: var(--blue);
				};
				.linkInfoName {
					@include css4 {
						color: var(--gray);
					};
				}
				.linkInfoSpan {
					@include css4 {
						color: var(--gray);
					};
				}
			}
			.section {
				position: relative;

				.formSettings {
					position: relative;
					padding: 10px;

					@include css4 {
						border-bottom: 1px solid var(--lightGray);
						background: var(--fontColor);
					};
					.fieldSettings {
						border: none;
						
						.legendSettings {
							position: relative;
							font-size: 2em;
							font-weight: bold;
							width: 100%;

							@include css4 {
								color: var(--gray);
							};
						}
						.inputsAera {
							position: relative;
							width: 300px;
							padding: 10px;
							margin: 0 auto;
							
							.inputLabel {
								font-size: 1.5em;
								font-weight: bold;
								text-align: left;

								@include css4 {
									color: var(--gray);
								};
							}
							.setInput {
								outline: none;
								font-size: 1.5em;
								width: 100%;
								height: 30px;
								padding: 10px;

								@include css4 {
									border: 2px solid var(--lightGray);
									color: var(--gray);
								};
								
								@include transition(border, 200ms, linear);
								
								&:hover, 
								&:focus,
								&:active {
									@include css4 {
										border-color: var(--blue);
									};
								}
							}
						}
						.setSubmit,
						.linkBack {
							border-radius: 3px;
							position: relative;
							height: 30px;
							font-size: 1.6em;
							display: inline-block;
							padding: 5px;
							line-height: 16px;
							width: 100px;
							
							@include transition(all, 200ms, linear);
						}
						.setSubmit {
							outline: none;
							cursor: pointer;
							margin-right: 10px;

							@include css4 {
								border: 2px solid var(--blue);
								background: var(--blue);
								color: var(--lightGray);
							};
							&:hover,
							&:active {
								@include css4 {
									border-color: var(--gray);
								};
							}
						}
						.linkBack {
							text-decoration: none;
							text-align: center;

							@include css4 {
								border: 2px solid var(--lightGray);
								background: var(--lightGray);
								color: var(--gray);
							};
							&:hover,
							&:active {
								@include css4 {
									border-color: var(--blue);
								};
							}
						}
					}
				}
			}
		}
	}
}