@mixin settings() {
	.divLeft {
		position: relative;

		@include css4 {
			width: var(--settingsDivLeftWidth);
		};

		#settingsMenu {
			position: relative;
			width: 100%;
			
			#menuUl {
				list-style: none;
				display: flex;

				@include css4 {
					flex-flow: var(--settingsGroupAlign);
				};
				.menuLi {
					position: relative;
					width: 100%;

					&:nth-of-type(1) {
						a {
							&:before {
								content: '\f085';
							}
						}
					}
					&:nth-of-type(2) {
						a {
							&:before {
								content: '\f1ab';
							}
						}
					}
					&:nth-of-type(3) {
						a {
							&:before {
								content: '\f1f8';
							}
						}
					}
					.menuLink,
					.menuLinkSelected {
						display: flex;
						align-items: center;

						&:before {
							font: 3em FontAwesome;
							position: relative;
							left: 30px;
							width: 30px;
						}
						.menuLinkSpan {
							position: relative;
							left: 60px;
							font-size: 2em;
							line-height: 50px;
							height: 100%;
						}
					}
					.menuLink {
						background-color: #ffffff;
						height: 50px;
						width: 100%;
						
						&:before {
							color: $colorGray;
						}
						.menuLinkSpan {
							color: $colorGray;
						}
					}
					.menuLinkSelected {
						background-color: $colorBlue;
						height: 50px;
						width: 100%;
						
						&:before {
							color: #ffffff;
						}
						&:after{
							content: "";
							position: absolute;
							top: 25px;
							right: -20px;
							margin-top: -2.5em;
							border-top: 2.5em solid transparent;
							border-bottom: 2.5em solid transparent;
							border-left: 2em solid $colorBlue;
						}
						.menuLinkSpan {
							color: #f6f6f6;
						}
					}
				}
			}
		}
	}
	.divRight {
		position: relative;

		@include css4 {
			width: var(--settingsDivRightWidth);
		};
		#sectionHeader {
			position: relative;
			font-size: 2.5em;
			font-weight: bold;
			width: 100%;
		}
		#settingsOptions {
			border-top: 1px solid black;
			border-bottom: 1px solid black;
			background: $colorLightGray;
			position: relative;
			top: 10px;
			width: 100%;
			
			.linkInfo {
				background: #ffffff;
				padding: 10px;
				margin-bottom: 1px;
				display: flex;
				justify-content: space-between;
				
				&:after {
					position: absolute;
					right: 50px;
					content: '\f044';
					font: 1.2em FontAwesome;
					color: transparent;
					margin-top: 3px;
					order: 3;
				}
				&:hover {
					&:after {
						color: #2facec;
					}
					.linkInfoSpan {
						text-decoration: underline;
					}
				}
				.linkInfoName {
					font-size: 1.5em;
					font-weight: bold;
					color: $colorGray;
					width: 100%;
					order: 1;
				}
				.linkUserInfo {
					position: relative;
					font-size: 1.5em;
					color: #969696;
					width: 100%;
					order: 2;
				}
				.linkInfoSpan {
					font-size: 1.5em;
					color: $colorBlue;
					width: 100%;
					order: 4;
					text-align: right;
				}
			}
			#linkInfo {
				background: #ffffff;
			}
			#linkInfoEdited {
				background: $colorBlue;
				
				.linkInfoName {
					color: #f6f6f6;
				}
				.linkInfoSpan {
					color: #f6f6f6;
				}
			}
			.section {
				position: relative;

				.formSettings {
					position: relative;
					border-bottom: 1px solid $colorLightGray;
					background: #ffffff;
					padding: 10px;
					
					.fieldSettings {
						border: none;
						
						.legendSettings {
							position: relative;
							font-size: 2em;
							font-weight: bold;
							color: $colorGray;
							width: 100%;
						}
						.inputsAera {
							position: relative;
							width: 300px;
							padding: 10px;
							margin: 0 auto;
							
							.inputLabel {
								font-size: 1.5em;
								font-weight: bold;
								color: $colorGray;
								text-align: left;
							}
							.setInput {
								outline: none;
								border: 2px solid $colorLightGray;
								font-size: 1.5em;
								color: $colorGray;
								width: 100%;
								height: 30px;
								padding: 10px;
								
								@include transition(border, 200ms, linear);
								
								&:hover, 
								&:focus,
								&:active {
									border-color: $colorBlue;
								}
							}
						}
						.setSubmit,
						.linkBack {
							border-radius: 3px;
							position: relative;
							height: 30px;
							font-size: 1.6em;
							display: inline-block;
							padding: 5px;
							line-height: 16px;
							width: 100px;
							
							@include transition(all, 200ms, linear);
						}
						.setSubmit {
							border: 2px solid $colorBlue;
							outline: none;
							background: $colorBlue;
							color: $colorLightGray;
							cursor: pointer;
							margin-right: 10px;
							
							&:hover,
							&:active {
								border-color: $colorGray;
							}
						}
						.linkBack {
							border: 2px solid $colorLightGray;
							background: $colorLightGray;
							text-decoration: none;
							text-align: center;
							color: $colorGray;
							
							&:hover,
							&:active {
								border-color: $colorBlue;
							}
						}
					}
				}
			}
		}
	}
}