@mixin title() {
	#imageBack {
		position: fixed;
		top: 60px;
		right: 0;
		z-index: 97;
		width: 100%;
		overflow: hidden;
		
		img {
			position: relative;
			width: 100%;
		}
	}
	#divLeft,
	#divRight {
        	background-color: rgba(0, 0, 0, .8);
		position: relative;
		padding: 10px 0 30px 0;
		z-index: 98;
	}
	#divLeft {
		@include css4 {
			width: var(--titleDivLeftWidth);
			justify-content: var(--titleDivLeftJustify);
		};
		#contentImage {
			position: relative;
			width: 160px;
			height: 240px;
			margin: 0 auto;
			
			.contentPlayFigure {
				height: 100%;
				width: 100%;
				
				img {
					height: 100%;
					width: 100%;
				}
			}
		}
	}
	#divRight {
		display: flex;
		flex-direction: column;

		@include css4 {
			justify-content: var(--titleDivRightJustify);
			width: var(--titleDivRightWidth);
		};
		
		#infoHeader {
			position: relative;
			font-size: 2.5em;
			font-weight: bold;
			height: 30px;

			@include css4 {
				color: var(--lightGray);
			};
		}
		#tabHeader {
			background: transparent;
			position: relative;
			height: 30px;
			width: 100%;
			margin: 0 auto;
			z-index: 98;
			display: flex;

			@include css4 {
				justify-content: var(--titleTabHeaderJustify);
			};
				
			.tab, 
			.tabSelected {
				position: relative;
				background: transparent;
				height: 30px;
				text-align: center;
				cursor: pointer;
				margin: 0 5px 0 0;
				padding: 0 20px;
				
				@include transition(border, 300ms, ease);
				
				&:after {
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;

					@include css4 {
						background: var(--joker02);
					};
					
					@include transition(height, 200ms, linear);
				}
				span {
					font-size: 1.5em;

					@include css4 {
						color: var(--lightGray);
					};
				}
			}
			.tab {
				&:after {
					height: 0;
				}
				&:hover {
					&:after {
						height: 4px;
					}
				}
			}
			.tabSelected {
				&:after {
					height: 4px;

					@include css4 {
						background: var(--joker02);
					};
				}
			}
		}
		#tabContents {
			position: relative;
			width: 100%;
			min-height: 300px;

			.contentShow {
				position: relative;
				padding-top: 20px;
			}
			.contentHide {
				position: fixed;
				top: -100%;
				left: -100%;
			}
			.contentShow,
			.contentHide {
				//height: 100%;
				width: 100%;
				display: flex;
				flex-direction: column;

				@include css4 {
					color: var(--gray);
				};
				#contentInfo {
					position: relative;
					width: 100%;
					height: 30px;
					margin: 0 auto;
					
					#infoGeneral {
						display: flex;
						
						#ageFree,
						#age10,
						#age12,
						#age14,
						#age16,
						#age18 {
							border-radius: 4px;
							min-width: 17px;
							padding: 0 5px;

							@include css4 {
								color: var(--fontColor);
							};
						}
						#ageFree {
							@include css4 {
								background: var(--ageFree);
							};
						}
						#age10 {
							@include css4 {
								background: var(--age10);
							};
						}
						#age12 {
							@include css4 {
								background: var(--age12);
							};
						}
						#age14 {
							@include css4 {
								background: var(--age14);
							};
						}
						#age16 {
							@include css4 {
								background: var(--age16);
							};
						}
						#age18 {
							@include css4 {
								background: var(--age18);
							};
						}
						.infoSpan,
						.infoLink {
							font-size: 1.5em;
							font-weight: bold;
							margin-right: 15px;

							@include css4 {
								color: var(--lightGray);
							};
						}
						.infoLink {
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
				#contentSynopsis {
					position: relative;
					width: 100%;
					max-height: 100px;
					overflow-y: hidden;
					padding: 10px 0 10px 30px;
					
					#synopsisSpan {
						font: 2em Calibri, sans-serif;
						text-shadow: 2px 2px 2px rbga(0,0,0,.5);

						@include css4 {
							color: var(--lightGray);
						};
					}
				}
				#contentSortcuts {
					position: relative;
					height: 90px;
					width: 100%;
					display: flex;
					align-items: flex-end;
					padding: 20px 0 20px 30px;
					
					.addWatchList {
						&:after {
							content:"\f055";
							font-size: 3em;
							top: 10px;
							left: 38px;
						}
					}
					.removeWatchList {
						&:after {
							content:"\f058";
							font-size: 3em;
							top: 10px;
							left: 38px;
						}
						&:hover {
							&:after {
								content:"\f056";
							}
						}
					}
					#startBtn {
						a {
							display: block;
							height: 100%;
							text-decoration: none;
							
							&:after {
								content: "\f144";
								font-size: 3em;
								top: 10px;
								left: 38px;
							}
						}
					}
					#playTrayler {
						&:after {
							content: "\f008";
							font-size: 2.8em;
							top: 10px;
							left: 35px;
						}
					}
					.contentBtn,
					.contentBtn a  {
						border-radius: 3px;
					}
					.contentBtn {
						position: relative;
						height: 100%;
						width: 100px;
						margin-right: 10px;
						cursor: pointer;

						@include css4 {
							background: var(--buttonGray);
						};
						
						@include transition(all, 200ms, linear);
						
						&:after,
						a:after {
							position: absolute;
							font-family: FontAwesome;

							@include css4 {
								color: var(--white);
							};
							
							@include transition(color, 300ms, linear);
						}
						&:hover,
						a:hover {
							height: 110%;
							//top: -10%;

							@include css4 {
								background: var(--fontColor);
							};
							&:after {
								@include css4 {
									color: var(--gray);
								};
							}
							.btnSpan {
								@include css4 {
									color: var(--fontColor);
								};
							}
						}
						&:active {
							@include transform(scale(0.9));
						}
						.btnSpan {
							position: relative;
							top: 100%;
							display: block;
							height: 18px;
							width: 100%;
							text-align: center;
							font-size: 1.5em;
							line-height: 20px;

							@include css4 {
								color: var(--buttonGray);
							};
							
							@include transition(color, 200ms, linear);
							
							&:hover {
								@include css4 {
									color: var(--fontColor);
								};
							}
						}
					}
				}
				#seasonBrowse {
					position: relative;
					width: 100%;
					min-height: 40px;
					
					#seasonDiv {
						position: relative;
						top: 0;
						z-index: 98;
						height: 50px;
						width: 220px;
						display: flex;
					
						#seasonHeader {
							position: relative;
							top: 3px;
							height: 30px;
							left: 10px;
							line-height: 30px;
							
							#seasonSpan {
								font-size: 3em;
								text-shadow: 2px 2px 2px rgba(0,0,0,.5);

								@include css4 {
									color: var(--lightGray);
								};
							}
						}
						.seasonSelect {
							height: 20px;

							@include css4 {
								background: var(--joker02);
							};
							#seasonSimple {
								position: relative;
								font: 2em Calibri, sans-serif;
								text-align: center;
								margin: 0 auto;
								height: 100%;
								width: 20px;
								display: block;
								line-height: 20px;

								@include css4 {
									color: var(--white);
								};
							}
							.seasonHide,
							.seasonShow {
								.seasonSpan {
									@include css4 {
										color: var(--lightGray);
									};
									&:after {
										content: '\f107';
										font: 1em FontAwesome;
										position: absolute;
										top: 2px;
										right: 5px;

										@include css4 {
											color: var(--lightGray);
										};
									}
								}
							}
						}
						.seasonSelectOpen {
							@include css4 {
								background: var(--white);
							};
							.seasonHide,
							.seasonShow {
								.seasonSpan {
									@include css4 {
										color: var(--gray);
									};

									@include transition(all, 200ms, linear);
									
									&:hover {
										@include css4 {
											background: var(--joker02);
											color: var(--lightGray);
										};
									}
								}
							}
						}
						#seasonSelect {
							box-shadow: 2px 2px 2px rgba(0,0,0,.5);
							border-radius: 0 5px 5px 0;
							outline: none;
							position: relative;
							top: 10px;
							left: 10px;
							width: 50px;
							margin-left: 10px;
							overflow-y: hidden;

							@include transition(height, 200ms, linear);
							
							.seasonHide {
								opacity: 0;
								display: none;
							}
							.seasonShow {
								opacity: 1;
								display: block;
							}
							.seasonHide,
							.seasonShow {
								position: relative;
								background: transparent;
								height: 20px;
								cursor: pointer;

								.seasonSpan {
									display: block;
									font-size: 1.8em;
									height: 100%;
									width: 100%;
									text-align: center;
									line-height: 20px;
								}
							}
						}
					}
					#episodeDiv {
						background: transparent;
						position: relative;
						height: 200px;
						width: 100%;
						overflow: auto;
						z-index: 97;

						.seasonGroupHide {
							position: fixed;
							top: -100%;
							left: -100%;
						}
						.seasonGroupShow {
							position: absolute;
						}
						.seasonGroupHide,
						.seasonGroupShow {
							height: 100%;
							overflow-y: hidden;
							overflow-x: auto;
							display: flex;

							@include transform(translete3d(0, 0, 0));

							@include transition(transform, 400ms, linear);

							.episode {
								width: 200px;
								height: 170px;
								margin-left: 10px;

								&:hover {
									.episodeFigure {
										figcaption {
											opacity: 1;
										}
									}
								}
								.episodeFigure {
									box-shadow: 5px 5px 4px rgba(0,0,0,.7);
									position: relative;
									width: 100%;
									height: 100px;

									a {
										position: absolute;
										top: 0;
										left: 0;
										width: 100%;
										height: 100%;
									}
									img {
										position: absolute;
										width: 100%;
										height: 100px;
									}
									figcaption {
										background: rgba(0,0,0,.6);
										position: absolute;
										width: 100%;
										height: 100px;
										opacity: 0;
										cursor: pointer;

										@include transition(opacity, 200ms, linear);

										&:hover {
											&:before {
												@include css4 {
													color: var(--joker02);
												};

												@include transform(scale(1.2));
											}
										}
										&:before {
											content: '\f144';
											font: 6em FontAwesome;
											position: absolute;
											top: 20px;
											left: 74px;

											@include css4 {
												color: var(--lightGray);
											};

											@include transition(all, 200ms, linear);
										}
									}
								}
								.episodeNumber {
									border-radius: 50%;
									position: relative;
									top: -40px;
									left: 10px;
									font: bold 2em Calibri, sans-serif;
									display: block;
									height: 25px;
									width: 25px;
									text-align: center;
									line-height: 23px;

									@include css4 {
										background: var(--gray);
										color: var(--lightGray);
									};
								}
								.episodeTitle,
								.episodeSynopsis {
									position: relative;
									top: -20px;
									left: 0;
									font-family: Calibri, sans-serif;
									text-shadow: 5px 5px 4px rgba(0,0,0,.7);

									@include css4 {
										color: var(--lightGray);
									};
								}
								.episodeTitle {
									font-size: 2em;
								}
								.episodeSynopsis {
									font-size: 2em;
								}
							}
						}
					}
				}
				#commentsDiv {
					position: relative;
					width: 100%;

					#commentFormDiv {
						position: relative;
						width: 100%;
						min-height: 120px;
						
						#commentInput {
							outline: none;
							border-radius: 3px;
							border: 3px solid transparent;
							position: relative;
							width: 100% !important;
							max-height: 200px;
							font: 1.5em Clibri, sans-serif;
							padding: 5px 5px 15px 5px;
							text-align: left;

							@include css4 {
								background: var(--darkGray);
								color: var(--lightGray);
							};
							&:focus {
								@include css4 {
									border: 3px solid var(--joker02);
								};
							}
						}
						#buttonsDiv {
							position: relative;
							width: 100%;
							height: 30px;
							margin: 10px 0 0 0;

							#commentSubmit {
								--width: 80px;
								border-radius: 3px;
								border: none;
								outline: none;
								position: relative;
								left: calc(100% - var(--width));
								width: var(--width);
								height: 100%;
								cursor: pointer;
								font: 1.5em Calibri, sans-serif;
								line-height: 30px;
								text-align: center;
								
								@include css4 {
									background: var(--lightGray);
									color: var(--darkGray);
								};
							}
							#commentSubmit[disabled] {
								opacity: 0.5;
								cursor: initial;
							}
						}
					}
					#userComment {
						position: relative;
						height: 100px;
						display: flex;

						img {
							border-radius: 4px;
							position: relative;
							height: 100%;
							width: 100px;
						}
						#rightDiv {
							position: relative;
							height: 100%;
							width: calc(100% - 100px);

							#commentSpanDiv {
								position: relative;
								height: 60%;
								width: 100%;

								#commentSpan {
									position: absolute;
									top: 10px;
									left: 10px;
									font: 2.5em Calibri, sans-serif;

									@include css4 {
										color: var(--lightGray);
									};
								}
							}
							#commentOptionsDiv {
								position: relative;
								height: 40%;
								width: 100%;
								display: flex;

								#buttonEdit {
									&:after {
										content: '\f040';
									}
								}
								#buttonDelete {
									&:after {
										content: '\f1f8';
									}
								}
								.button {
									border-radius: 4px;
									position: relative;
									height: 40px;
									width: 40px;
									margin-left: 10px;
									cursor: pointer;

									@include css4 {
										background: var(--buttonGray);
									};

									@include transition(all, 400ms, linear);

									&:hover {
										@include css4 {
											background: var(--white);
										};
										&:after {
											@include css4 {
												color: var(--darkGray);
											};
										}
									}
									&:after {
										position: absolute;
										top: 5px;
										left: 8px;
										font: 3em FontAwesome;

										@include css4 {
											color: var(--white);
										};

										@include transition(all, 400ms, linear);
									}
								}
							}
						}
					}
					.commentGroup {
						position: relative;
						padding: 10px 0 0 0;

						.replyHide {
							&:after {
								position: relative;
								left: 5px;
								top: 2px;
								font: 1.5em FontAwesome;

								@include css4 {
									color: var(--lightGray);
								};
							}
						}
						.replyHide {
							margin: 0 0 0 60px;
							width: 100px;
							cursor: pointer;

							.spanHide {
								font: 1.5em Calibri, sans-serif;

								@include css4 {
									color: var(--lightGray);
								};
							}
						}
						.noHide {
							&:after {
								content: '\f147';
							}
							~ .reply {
								height: 100%;
							}
						}
						.hide {
							&:after {
								content: '\f196';
							}
							~ .reply {
								height: 0%;
								display: none;
							}
						}
						.comment,
						.reply {
							position: relative;
							padding: 20px 0;
							display: flex;

							.imageDiv {
								position: relative;
								height: 100%;

								img {
									border-radius: 4px;
									position: relative;
								}
							}
							.commentInfo,
							.replyInfo {
								position: relative;
								left: 10px;

								.commentName,
								.replyName {
									position: relative;
									font: 2em Calibri, sans-serif;
									text-decoration: none;

									@include css4 {
										color: var(--joker02);
									};
									&:hover {
										text-decoration: underline;
									}
								}
								.commentSpan,
								.replySpan {
									position: relative;
									top: 5px;
									left: 5px;
									font: 2em Calibri, sans-serif;
									text-align: left;
									width: 80%;
									text-indent: -35px;

									@include css4 {
										color: var(--lightGray);
									};
								}
							}
						}
						.comment {
							.imageDiv {
								height: 100%;

								img {
									height: 45px;
									width: 45px;
								}
							}
						}
						.reply {
							padding-left: 60px;

							@include transition(height, 200ms, linear);

							.imageDiv {
								height: 100%;

								img {
									height: 30px;
									width: 30px;
								}
							}
						}
					}
				}
				.info {
					position: relative;
					
					.alert {
						text-shadow: 2px 2px 2px rgba(0,0,0,.5);
						font: 4em Calibri, sans-serif;

						@include css4 {
							color: var(--lightGray);
						};
					}
				}
			}
		}
	}
}