@mixin watch() {
	.playerBoxShow {
		background: rgba(0,0,0,.8) !important;
		box-sizing: border-box;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 110;
		
		#browserBack {
			position: absolute;
			float: left;
			top: 60px;
			left: 10px;
			cursor: pointer;
			height: 50px;
			width: 50px;
			
			#backButton {
				display: block;
				text-decoration: none;
				
				&:before {
					content: '\f190';
					font: 3em FontAwesome;
					color: #ffffff;
					position: relative;
					top: 5px;
					left: 5px;
				}
				&:hover {
					&:before {
						color: $colorBlue;
					}
				}
			}
		}
		#mediaHolder {
			position: relative;
			top: 0;
			width: 90%;
			height: 100%;
			margin: 0 auto;
			
			#videoTag {
				background: #000000;
				position: relative;
				width: 100%;
				height: 100%;
			}
		}
		.loading,
		.videoPaused{
			position: relative;
			top: -400px;
			margin: 0 auto;
		}
		#controlsDiv {
			#rightControls {
				#fullScreenButton {
					&:before {
						content: '\e901';
					}
				}
			}
		}
	}
	.playerBoxShowFull {
		background: rgba(0,0,0,.8);
		box-sizing: border-box;
		position: relative;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		
		#browserBack {
			position: absolute;
			left: -100%;
			top: -100%;
		}
		#mediaHolder {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			
			#videoTag {
				background: #000000;
				position: absolute;
				width: 100%;
				height: 100%;
			}
		}
		.loading,
		.videoPaused{
			position: relative;
			top: 40%;
		}
		#controlsDiv {
			top: 94%;
			width: 100%;
			z-index: 1000;
			
			#rightControls {
				#fullScreenButton {
					&:before {
						content: '\e902';
					}
				}
			}
		}
	}
	#playerBox {
		.loadingNone {
			position: absolute;
			top: -100%;
			left: -100%;
		}
		.loading,
		.videoPaused {
			height: 100px;
			width: 100px;
			margin: 0 auto;
		}
		.loading {
			&:after {
				content: '\f110';
				font: 10em FontAwesome;
				color: #ffffff;
				position: absolute;
				top: 0;
				left: 0;
				
				@include animation(Rotate, 1.8s, linear, infinite, normal);
				
				@-webkit-keyframes Rotate {
					0% {
						@include transform(rotate(0deg));
					}
					100% {
						@include transform(rotate(360deg));
					}
				}
				@keyframes Rotate {
					0% {
						@include transform(rotate(0deg));
					}
					100% {
						@include transform(rotate(360deg));
					}
				}
			}
		}
		.videoPaused {
			cursor: pointer;
				
			&:after {
				content: '\e905';
				font: 10em PlayerIcon;
				text-shadow: 5px 5px 5px rgba(0,0,0,.8);
				color: #ffffff;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		.controlsDivHide {
			opacity: 0;
		}
		.controlsDivShow {
			opacity: 1;
		}
		#controlsDiv {
			box-sizing: border-box;
			background: $colorGray;
			position: relative;
			bottom: 50px;
			padding: 0;
			height: 40px;
			width: 800px;
			color: $colorLightGray;
			margin: 0 auto;
			
			@include transition(all, 300ms, ease);
			
			#leftControls,
			#rightControls {
				.playerIcon {
					&:before {
						font: 3em PlayerIcon;
						color: #ffffff;
						position: relative;
						top: 5px;
						left: 4px;
					}
					&:hover {
						&:before {
							color: $colorBlue;
						}
					}
				}
			}
			#leftControls {
				position: absolute;
				left: 0;
				top: 0;
				width: 80%;
				height: 40px;
				float: left;
				
				.playBtn {
					&:before {
						content: '\e905';
					}
				}
				.playBtn2 {
					&:before {
						content: '\e904';
					}
				}
				#playBtn {
					border-right: 1px solid #262626;
					position: absolute;
					left: 0;
					height: 40px;
					width: 40px;
					float: left;
					cursor: pointer;
				}
				#videoTime {
					position: absolute;
					right: 10px;
					top: 5px;
					width: 90%;
					height: 50px;
					float: right;
					
					#seekSliderDiv {
						top: 0;
						
						#seekSlider {
							outline: none;
							width: 100%;
							height: 4px;
							cursor: pointer;
							-webkit-appearance: none !important;

							&::-ms-fill-lower {
								background: $colorBlue;
							} 
							&::-ms-fill-upper {
								background: #262626;
							}
							&::-webkit-slider-thumb {
								border-radius: 50%;
								background: #ffffff;
								height: 15px;
								width: 15px;
								cursor: pointer;
								-webkit-appearance: none !important;

								&:hover {
									background: $colorBlue;
								}
							}
						}
					}
					#currentVideoTime {
						position: relative;
						left: 10px;
						top: 5px;
						float: left;
						height: 20px;
						width: 60px;
						font-size: 1.5em;
						color: $colorLightGray;
					}
					#timeSeparator {
						position: relative;
						left: 10px;
						top: 5px;
						float: left;
						height: 20px;
						width: 20px;
						font-size: 1.5em;
						color: $colorLightGray;
					}
					#totalVideoTime {
						position: relative;
						left: 10px;
						top: 5px;
						float: left;
						height: 20px;
						width: 60px;
						font-size: 1.5em;
						color: $colorLightGray;
					}
				}
			}
			#rightControls {
				position: absolute;
				right: 0;
				top: 0;
				width: 20%;
				height: 40px;
				float: right;
				
				.sound2{
					&:before {
						content: '\e907';
					}
				}
				.sound {
					&:before {
						content: '\e906';
					}
				}
				.soundMuted  {
					&:before {
						content: '\e903';
					}
				}
				#muteButton {
					border-left: 1px solid #262626;
					border-right: 1px solid #262626;
					position: relative;
					left: 36px;
					top: 0;
					width: 40px;
					height: 100%;
					cursor: pointer;
					
					&:hover {
						+ #volumeSliderDiv{
							top: -105px;
							left: 6px;
							width: 100px;
							
							@include transition(all, 300ms, ease);
						}
					}
				}
				#volumeSliderDiv {
					background: $colorGray;
					position: relative;
					top: -53px;
					left: 56px;
					height: 30px;
					width: 0;
					overflow: hidden;
					
					@include transform(rotate(-90deg));
					
					@include transition(all, 300ms, ease);
					
					&:hover {
						top: -105px;
						left: 6px;
						width: 100px;
					}
					#volumeSlider {
						position: relative;
						top: 8px;
						outline: none;
						height: 4px;
						width: 95%;
						cursor: pointer;
						-webkit-appearance: none !important;

						&::-ms-fill-lower {
							background: $colorBlue;
						} 
						&::-ms-fill-upper {
							background: #262626;
						}	
						&:hover::-webkit-slider-thumb {
							background: $colorBlue;
						}
					}
					#volumeSlider::-webkit-slider-thumb {
						border-radius: 50%;
						background: #ffffff;
						height: 15px;
						width: 15px;
						cursor: pointer;
						-webkit-appearance: none !important;
					}
				}
				#episodesButton {
					position: absolute;
					top: 0;
					right: 40px;
					height: 100%;
					width: 40px;
					cursor: pointer;

					&:after {
						content: '\f0c9';
						font: 3em FontAwesome;
						color: $colorLightGray;
						position: absolute;
						left: 7px;
						top: 5px;
					}
					
					&:hover {
						+ #episodesDiv {
							height: 320px;
						}
					}
				}
				#episodesDiv {
					background: $colorGray;
					position: absolute;
					bottom: 40px;
					left: -90px;
					width: 250px;
					height: 0px;
					overflow: hidden;

					@include transition(height, 200ms, linear);

					&:hover {
						height: 320px;
					}
					.seasonSelectHide {
						display: none;
					}
					.seasonSelectShow {
						display: block;
					}
					#seasonSelect {
						position: relative;
						height: 100%;
						width: 100%;
						overflow-y: auto;
						z-index: 96;

						@include transition(height, 200ms, linear);

						.season {
							border-bottom: 1px solid #262626;
							position: relative;
							height: 40px;
							width: 100%;
							display: block;
							cursor: pointer;
							
							@include transition(all, 200ms, linear);

							&:hover {
								background: #323232;
							}
							&:after {
								content: '\f105';
								font: 2em FontAwesome;
								color: $colorLightGray;
								position: absolute;
								right: 10px;
								top: 10px;
							}
							.seasonSpan {
								position: relative;
								left: 5%;
								height: 100%;
								width: 95%;
								font: 1.5em Calibri, sans-serif;
								color: $colorLightGray;
								line-height: 40px;
								display: block;
							}
						}
					}
					#episodeSelect {
						position: relative;
						top: 0;
						left: 0;
						height: 100%;

						#episodeSelectHeader {
							background: $colorGray;
							border-bottom: 1px solid #262626;
							position: relative;
							top: 0;
							left: 0;
							width: 100%;
							height: 13%;
							z-index: 95;

							#openSelector {
								border-right: 1px solid #262626;
								position: absolute;
								float: left;
								width: 40px;
								height: 100%;

								#openSpan {
									position: relative;
									top: 0;
									left: 0;
									height: 100%;
									width: 100%;
									cursor: pointer;
									display: block;

									@include transition(all, 200ms, linear);

									&:hover {
										background: #323232;
									}
									&:before {
										content: '\f104';
										font: 2em FontAwesome;
										color: $colorLightGray;
										position: absolute;
										left: 15px;
										top: 10px;
									}
								}
							}
							.seasonNameHide,
							.seasonNameShow {
								position: relative;
								float: right;
								width: 209px;
								height: 100%;

								.seasonNameSpan {
									position: relative;
									top: 0;
									left: 0;
									height: 100%;
									width: 100%;
									display: block;
									font: 1.4em calibri, sans-serif;
									color: $colorLightGray;
									text-align: center;
									line-height: 45px;
								}
							}
							.seasonNameHide {
								display: none;
							}
							.seasonNameShow {
								display: block;
							}
						}
						#episodeList {
							position: relative;
							top: 0;
							left: 0;
							height: 87%;
							width: 100%;
							overflow-y: auto;

							.seasonGroupHide {
								display: none;
							}
							.seasonGroupShow {
								display: block;
							}
							.seasonGroupHide,
							.seasonGroupShow {
								position: relative;
								top: 0;
								min-height: 100%;
								width: 100%;
								z-index: 94;
								
								.episodeClose,
								.episodeOpen {
									border-bottom: 1px solid #262626;
									position: relative;
									top: 0;
									width: 100%;
									overflow-y: hidden;

									@include transition(all, 200ms, linear);

									.episodeNumber,
									.episodeTitle,
									.episodeSynopsis {
										font: 1.5em Calibri, sans-serif;
										color: $colorLightGray;
									}
								}
								.episodeClose {
									height: 40px;
									cursor: pointer;

									&:hover {
										background: #323232;

										&:after {
											opacity: 1;
										}
									}
									&:after {
										content: '\f107';
										font: 2em FontAwesome;
										color: $colorLightGray;
										position: absolute;
										right: 10px;
										top: 10px;
										opacity: 0;

										@include transition(all, 200ms, linear);
									}
									figure,
									.episodeSynopsis {
										display: none;
									}
									.episodeNumber,
									.episodeTitle {
										position: relative;
										float: left;
										line-height: 40px;
										height: 100%;
									}
									.episodeNumber {
										width: 10%;
										left: 5%;
									}
									.episodeTitle {
										width: 80%;
										left: 5%;
									}
								}
								.episodeOpen {
									background: #161616;
									height: 120px;

									figure {
										position: relative;
										top: 30px;
										left: 10px;
										height: 60px;
										width: 100px;
										
										a {
											position: relative;
											top: 0;
											left: 0;
											height: 100%;
											width: 100%;
											display: block;

											&:hover {
												figcaption {
													opacity: 1;
												}
											}
										}
										img {
											position: relative;
											top: 0;
											left: 0;
											height: 100%;
											width: 100%;
										}
										figcaption {
											position: absolute;
											top: 0;
											left: 0;
											height: 100%;
											width: 100%;
											opacity: 0;

											@include transition(opacity, 200ms, linear);

											&:after {
												content: '\f144';
												font: 2em FontAwesome;
												color: $colorBlue;
												position: absolute;
												top: 20px;
												left: 40px;
											}
										}
									}
									.episodeNumber,
									.episodeTitle {
										position: absolute;
										top: 0;
										line-height: 20px;
										height: 20px;
									}
									.episodeNumber {
										float: left;
										left: 10px;
										width: 15%;
									}
									.episodeTitle {
										float: right;
										right: 10px;
										width: 75%;
									}
									.episodeSynopsis {
										position: absolute;
										float: right;
										top: 30px;
										right: 0;
										height: 90px;
										width: 120px;
									}
								}
							}
						}
					}
				}
				#fullScreenButton {
					border-left: 1px solid #262626;
					position: absolute;
					top: 0;
					right: 0;
					float: left;
					height: 100%;
					width: 40px;
					cursor: pointer;
				}
			}
		}
	}
}