@mixin index() {
    @include pageAddress();
    
    .sectionDiv {
        position: relative;
        top: 20px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;

        .section {
            border-radius: 5px;
            position: relative;
            width: calc(25% - 10px);
            height: 150px;
            overflow: hidden;

            @include css4 {
                background: var(--back);
            };
            &:hover {
                .icon {
                    @include transform(scale(1.2));
                }
            }
            &:nth-of-type(1) {
                --icon: '\f007';
                --back: var(--facebook);
            }
            &:nth-of-type(2) {
                --icon: '\f008';
                --back: var(--errorColor);
            }
            &:nth-of-type(3) {
                --icon: '\f1c8';
                --back: var(--blue);
            }
            &:nth-of-type(4) {
                --icon: '\f1e8';
                --back: var(--google);
            }
            .totalNumber {
                font-size: 4em;
                font-weight: bold;
            }
            .type {
                font-size: 2em;
            }
            span {
                position: relative;
                width: 100%;
                height: 50px;
                font-family: Calibri, sans-serif;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 10px;

                @include css4 {
                    color: var(--lightGray);
                };
            }
            .icon {
                position: absolute;
                top: 0;
                right: 0;
                width: 100px;
                height: 70%;

                @include transition(transform, 200ms, linear);

                @extend %alignCenter;

                &:after {
                    font: 7em FontAwesome;

                    @include css4 {
                        content: var(--icon);
                        color: rgba(0,0,0,.3);
                    };
                }
            }
            .details {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 30px;
                font: 2em Calibri, sans-serif;
                background: rgba(0,0,0,.3);

                &:hover {
                    background: rgba(0,0,0,.5);
                }

                @extend %alignCenter;

                @include css4 {
                    color: var(--lightGray);
                };

                @include transition(background, 200ms,linear);

                &:after {
                    content: '\f0a9';
                    font: 1em FontAwesome;
                    margin-left: 10px;
                }
            }
        }
    }
}