@mixin managerInterface() {
	@include pageAddress();

	#managerOptions {
		position: relative;
		top: 20px;
		height: 50px;
		width: 100%;
		display: flex;
		justify-content: flex-end;

		.managerLink,
		#advancedClose {
			box-sizing: border-box;
			border-radius: 3px;
			position: relative;
			top: 0;
			height: 40px;
			width: auto;
			font: 2em Calibri, sans-serif;
			text-decoration: none;
			padding: 5px;

			@include css4 {
				background: var(--joker02);
				color: var(--lightGray);
			};
			&:after {
				top: 3px;
				left: 3px;
				position: relative;
				font-family: FontAwesome;

				@include css4 {
					color: var(--lightGray);
				};
			}
		}
		.managerLink {
			margin: 0 10px 0 0;

			&:after {
				content: '\f067';
				font-size: 1em;
			}
		}
		#advancedClose {
			cursor: pointer;
			line-height: 20px;

			&:after {
				content: '\f107';
				font-size: 1.5em;
				font-weight: bold;
				position: relative;
				right: 0;
				top: 0;

				@include transition(all, 300ms, linear);
			}
		}
		.searchAdvancedClose {
			border: 3px solid transparent;
		}
		.searchAdvancedOpen {
			@include css4 {
				border: 3px solid var(--lightGray);
			};

			&:after {
				@include transform(rotate(180deg));
			}
		}
    }
    #advancedSearchDiv {
		position: relative;
		top: 30px;
		overflow: hidden;

		@include transition(height, 300ms, linear);
    }
    .advancedSearchHide {
        height: 0;
    }
    .advancedSearchShow {
        height: 200px;
    }
    #usersManagerInterface {
        box-shadow: -5px 0 3px rgba(0,0,0,0.6);
        position: relative;
        top: 50px;
        right: 0;
        min-height: 600px;
        width: 83%;
        z-index: 100;
        padding-bottom: 50px;
    }

	#showContents {
		width: 100%;
		margin-top: 30px;

		.contentSortOption {
			display: flex;
			justify-content: space-between;
		}
		#contentTotal {
			font-size: 2em;
			font-weight: bold;
			padding-left: 1%;

			@include css4 {
				color: var(--lightGray);
			};
		}
		#selectDiv {
			position: relative;
			top: 10px;
			left: 1%;
			height: 30px;
			width: 140px;

			#selectForm {
				position: relative;
				height: 100%;
				width: 100%;

				select {
					position: relative;
					height: 100%;
					width: 60px;
				}
			}
		}
		.indexPageDiv {
			position: relative;
			top: 10px;
			right: 1%;
			height: 60px;
			text-align: right;
			overflow: hidden;
			display: flex;

			#pageInfo {
				position: relative;
				margin-right: 30px;
				line-height: 30px;

				@include css4 {
					color: var(--lightGray);
				};
			}
			#buttonDiv {
				position: relative;

				.pageInactive {
					@include css4 {
						background: var(--lightGray);
					};
					.pageSpan {
						@include css4 {
							color: var(--gray);
						};
					}
				}
				.pageActive {
					@include css4 {
						background: var(--joker02);
					};

					.pageSpan {
						@include css4 {
							color: var(--lightGray);
						};
					}
				}
				.pageButton {
					border-radius: 50%;
					position: relative;
					top: 0;
					left: 0;
					height: 30px;
					width: 30px;
					display: inline-block;
					text-align: center;

					.pageSpan {
						position: relative;
						top: 0;
						left: 0;
						outline: none;
						display: block;
						height: 100%;
						width: 100%;
						font: 2em Calibri, sans-serif;
						text-decoration: none;
						line-height: 29px;
					}
				}
			}
		}
		#contentTable {
			box-sizing: border-box;
			position: relative;
			width: 98%;
			height: 100%;
			margin: 0 auto;
			padding: 3px;

			@include css4 {
				outline: 1px solid var(--lightGray);
			};
			#tableHead {
				position: relative;
				display: block;
				height: 40px;
				width: 100%;

				#headRow {
					position: absolute;
					height: 100%;
					width: 100%;
					padding: 3px 0;
					display: flex;

					@include css4 {
						background: var(--gray);
					};
					#contentId,
					#contentDetails,
					#contentOptions {
						.contentSpan {
							display: block;
							height: 100%;
							width: 100%;
							font-size: 2em;
							line-height: 36px;
							text-align: center;
							font-weight: bold;

							@include css4 {
								color: var(--lightGray);
							};
						}
					}
					#contentId {
						box-sizing: border-box;
						position: relative;
						height: 100%;
						width: 15%;
					}
					#contentDetails {
						box-sizing: border-box;
						position: relative;
						height: 100%;
						width: 70%;
					}
					#contentOptions {
						box-sizing: border-box;
						position: relative;
						height: 100%;
						width: 15%;
					}
				}
			}
			#tableBody {
				position: relative;
				display: block;
				height: 100%;
				width: 100%;

				#contentRowChange,
				.contentRow {
					position: relative;
					box-sizing: border-box;
					display: block;
					width: 100%;
					padding: 10px 0 10px 0;

					@include css4 {
						background: var(--darkGray);
					};
				}
				#contentRowChange {
					position: relative;
					width: 100%;
					height: 100%;
					min-height: 200px;
					padding-bottom: 30px;

					#removeDiv {
						position: relative;
						width: 90%;
						margin: 0 auto;

						.removeAlert:nth-of-type(1) {
							font-size: 3em !important;
							font-weight: bold;
							text-decoration: underline;
						}
						.removeAlert {
							font-family: Calibri, sans-serif;
							font-size: 2em;
							margin-bottom: 10px;

							@include css4 {
								color: var(--errorColor);
							};
						}
						#buttonsDiv {
							position: relative;
							display: flex;

							.removeConfirm {
								@include css4 {
									background: var(--errorColor) !important;
								};
							}
							.deleteButton {
								position: relative;
								top: 20px;
								box-sizing: border-box;
								border-radius: 3px;
								height: 50px;
								width: 100%;
								margin: 10px;

								@extend %alignCenter;

								@include css4 {
									background: var(--gray);
								};

								.buttonSpan {
									font: 2em Calibri, sans-serif;
									@include css4 {
									color: var(--lightGray);
								};
								}
							}
						}
					}
					#closeEditDiv {
						position: absolute;
						right: 10px;
						height: 40px;
						width: 40px;
						cursor: pointer;

						a {
							position: relative;
							height: 100%;
							width: 100%;
							display: block;
							text-decoration: none;

							&:after {
								content: '\e900';
								font: 4em PlayerIcon;

								@include css4 {
									color: var(--gray);
								};
							}
						}
					}

					@include addContent();
				}
				.contentRow {
					height: 60px;
					display: flex;

					.contentId,
					.contentDetails,
					.contentOptions {
						.contentSpan {
							display: block;
							height: 100%;
							width: 100%;
							font-size: 1.6em;
							line-height: 40px;

							@include css4 {
								color: var(--lightGray);
							};
						}
					}
					.contentId {
						position: relative;
						top: 0;
						left: 0;
						height: 40px;
						width: 150px;
						text-align: center;

						@include css4 {
							border-right: 1px solid var(--lightGray);
						};
					}
					.contentDetails {
						position: relative;
						top: 0;
						left: 0;
						height: 40px;
						width: 100%;
						text-indent: 20px;
					}
					.contentOptions {
						position: relative;
						min-width: 120px;
						height: 40px;
						display: flex;
						justify-content: center;

						@include css4 {
							border-left: 1px solid var(--lightGray);
						};
						.contentEdit {
							position: relative;
							border-radius: 3px;
							width: 100px;
							height: 100%;
							padding: 3px;
							display: flex;
							flex: 0 0 auto;

							@include css4 {
								background: var(--joker02);
							};
							.contentLink {
								position: relative;
								width: 100%;
								height: 100%;
								text-decoration: none;
								display: flex;

								@extend %alignCenter;

								&:before {
									content: '\f044';
									font: 1.2em FontAwesome;
									position: relative;
									opacity: 0;

									@include css4 {
										color: var(--white);
									};
								}
								&:hover {
									@include css4 {
										color: var(--white);
									};
									&:before {
										opacity: 1;
									}
									span {
										text-decoration: underline;
									}
								}
								span {
									position: relative;
									text-align: center;
									line-height: 38px;
									font-size: 1.6em;
									width: 80%;
									height: 100%;

									@include css4 {
										color: var(--white);
									};
								}
							}
							.removeOption {
								position: relative;
								width: 40px;
								height: 100%;
								cursor: pointer;

								@extend %alignCenter;

								@include css4 {
									border-left: 1px solid var(--white);
								};
								&:after {
									content: '\f1f8';
									font: 2em FontAwesome;

									@include css4 {
										color: var(--white);
									};
								}
							}
						}
					}
				}
			}
		}
	}
}
