Options +FollowSymLinks
RewriteEngine on


#Admin home Page


RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^home()$ index.php [NC,L]


#Admin feedback Page


RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^feedback/manager()$ feedbackManager.php [NC,L]


#Admin User Pages


RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^users/manager()$ usersManager.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^users/add()$ usersAdd.php [NC,L]


#Admin Movies Pages


RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^movies/manager()$ moviesManager.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^movies/add()$ moviesAdd.php [NC,L]


#Admin Series Pages


RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^series/manager()$ seriesManager.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^series/add()$ seriesAdd.php [NC,L]


#Admin Episodes Pages


RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^series/add/episodes()$ episodesAdd.php [NC,L]


#Admin Lives Pages


RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^lives/manager()$ livesManager.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^lives/add()$ livesAdd.php [NC,L]